body {
    margin: 0;
    background-color: #f8f8f8;
}

h1, p {
    margin: 0;
}

.stock-advice__header__container {
    padding: 168px 0 168px 0;
}

.stock-advice__header {
    margin: 0 auto;
    width: 800px;
}

.stock-advice__title {
    font-family: fantasy;
    font-size: 4rem;
    margin: 0;
}

.stock-advice__subtitle {
    font-family: serif;
    font-size: 2rem;
    color: #666;
    margin: 0;
}

/******/

.beautiful-advice1__container {
    padding: 264px 0 264px 0;
    background-color: #0ac5f4;
    font-size: 2rem;
}

.beautiful-advice1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beautiful-advice1 h1[class^=text__marks] {
    font: 4rem 'monospace';
}

.beautiful-advice1 h1[class=text__normal] {
    font: 2rem 'monospace';
}

p.p-explanation {
    color: black;
    opacity: 0.5;
    font-size: 1rem;
    width: 50%;
    text-align: center;
}

p#p-advice2 {
    color: black;
    opacity: 0.5;
    font-size: 1rem;
    width: 38%;
}

.beautiful-advice1 div {
    display: flex;
    justify-content: center;
}

.beautiful-advice1 div > * {
    margin: 0.5rem;
}

.beautiful-advice1 div h1:nth-child(2) {
    font: 6rem 'monospace';
    font-weight: bold;
}

.beautiful-advice1 .text__small {
    font-family: monospace;
    font-size: 1.5rem;
}

.beautiful-advice1__text {
    font-family: monospace;
    font-size: 3rem;
}

/****/

.beautiful-advice2__container {
    padding: 264px 0 264px 0;
    background-color: #fff;
    font: 2rem 'monospace';
    font-style: italic;
}

.beautiful-advice2 {
    margin: 0 264px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.beautiful-advice2 hr {
    background: #333;
    height: 0.125rem;
    width: 10%;
}

.beautiful-advice2 h1 {
    width: 38%;
    text-align: center;
}

/****/

.beautiful-advice3__container {
    padding: 264px 0 264px 0;
    background-color: #c00;
    font: 1rem 'monospace';
}

.beautiful-advice3 {
    margin: 0 264px;
}

.beautiful-advice3 > h1 {
    font-family: serif;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}

.beautiful-advice3__grid {
    column-count: 2;
    column-gap: 2rem;
}

.beautiful-advice3 hr {
    background: black;
    border: 0;
    height: 0.5rem;
    margin: 2rem 0;
}


.kingfisher-frontend-kit {
    display: grid;
    grid-template-areas: 
        "nav header" 
        "nav content" 
        "nav footer";
    grid-template-columns: minmax(19rem,auto) 1fr;
    grid-template-rows: minmax(2rem,auto) 1fr minmax(2rem,auto);   
    min-height: 100vh;    
}

.frontend-kit__header {
    grid-area: header;
}

.frontend-kit__navigation {
    grid-area: nav;
    color: white;
}

.frontend-kit__content {
    grid-area: content;
}

.frontend-kit__footer {
    grid-area: footer;
}

button + button {
    margin-left: 1rem;
}

.side-navigation__header {
    display: flex;
    align-items: center;
}

.frontend-kit__kingfisher {
    width: 10rem;
    height: 10rem;
}

.frontend-kit__summer {
    width: 100%;
    height: 75%;
    position: absolute;
    z-index: 0;
}

.frontend-kit__header__label {
    position: absolute;
    z-index: 1;
}

.frontend-kit__version {
    padding: 0.5rem 1.25rem 0.5rem 1rem;
}

.frontend-kit__version__label {
    font-size: 1.25rem;
    font-weight: bolder;
}