body {
    background-color: red;
    display: grid;
    gap: 1rem;
    grid-template-rows: auto auto 1fr auto;
    /* min-height: 100vh; */
}

:root {
    --primary-button-color: #19686A;
    --primary-button-color__hover: #A8EFF0;
    --primary-button-color__active: #002021;
}

/* Atoms */

/* -Button- */
.a-button {
    display: inline-flex;
    padding: 0;
    border: none;
    cursor: pointer;
}

.a-button__label {
    margin: auto;
    padding: 1rem 1rem;
}

.a-button--primary {
    background-color: var(--primary-button-color);
    color: white;
}

.a-button--primary:hover {
    background-color: var(--primary-button-color__hover);
}

.a-button--primary:active {
    background-color: var(--primary-button-color__active);
}


.a-button--tertiary {
    background-color: transparent;
    color: var(--primary-button-color);
}

.a-button--tertiary:hover {
    background-color: var(--primary-button-color__hover);
}

.a-button--tertiary:active {
    background-color: var(--primary-button-color__active);
}






header, nav, section, footer {
    padding: 0.5rem;
    background-color: white;
}

@media (min-width: 768px) {
    body {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(12, minmax(0.1fr));
    }

    header, nav, section, footer {
        padding: 0.5rem;
        background-color: white;
    }
    
    header {
        grid-column: 1 / 13;
        grid-row: 1;
    }
    
    nav {
        grid-column: 1 / 4;
        grid-row: 2;
    }
    
    section {
        grid-column: 4 / 13;
        grid-row: 2;
        /**/
    }
    
    .section__title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    .section__actions {
        display: flex;
        flex-flow: row wrap;
    }
    
    footer {
        grid-column: 1 / 13;
        grid-row: 3;
    }
}