/*

GLOBAL

*/

body {
    margin: 0;
    background-color: #f8f8f8;
}

h1, p {
    margin: 0;
}

.beautiful-advices {
    padding: 264px 0 264px 0;
    font: 2rem 'monospace';
}

/*

SECTION HEADER

*/

.beautiful-advices > #section__header {
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: relative;
    margin: 0 12rem;
}

#section__header h2 {
    font-family: monospace;
    font-weight: 900;
    z-index: 2;
}

#section__header h1 {
    font-family: monospace;
    font-weight: 100;
    font-size: 1rem;
    z-index: 2;
}

#section__header #signature {
    position: absolute;
    top: 2rem;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4rem;
    font-weight: 100;
    color: #FF007F;
    z-index: 1;
    width: 90%;
}


/*

SECTION ONE

*/

.beautiful-advices#bg-color__one {
    background-color: #0ac5f4;
}

.beautiful-advices > #section__one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 12rem;
    color: #fff;
}

#section__one h1 {
    font-family: monospace;
    font-size: 4.5rem;
    font-weight: 900;
}

#section__one h1:nth-child(2) {
    opacity: 0.84;
    background-color: #036b85;
}

#section__one h1:nth-child(3) {
    opacity: 0.68;
    background-color: #036b85;
}

#section__one h1:nth-child(4) {
    opacity: 0.52;
    background-color: #036b85;
}

#section__one h1:nth-child(5) {
    opacity: 0.36;
    background-color: #036b85;
}

#section__one h1:nth-child(6) {
    opacity: 0.20;
    background-color: #036b85;
}

#section__one h1:nth-child(7) {
    opacity: 0.04;
}

#section__one aside {
    opacity: 0.68;
    font-size: 1.5rem;
}

/* 

SECTION TWO

*/

.beautiful-advices#bg-color__two {
    background-color: #fff;
}

.beautiful-advices > #section__two {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 348px;
}

#section__two hr {
    background: #333;
    height: 0.125rem;
    width: 10%;
}

#section__two h1 {
    width: 38%;
    text-align: center;
}

#section__two p {
    font-size: 1rem;
    opacity: 0.5;
}

/* 

SECTION THREE

*/

.beautiful-advices#bg-color__three {
    background-color: #c00;
}

#section__three {
    margin: 0 264px;
}

#section__three .title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}

#section__three > section {
    column-count: 2;
    column-gap: 2rem;
    font-size: 1.5rem;
}

#section__three hr {
    background: black;
    border: 0;
    height: 0.5rem;
    margin: 2rem 0;
}


/* 

SECTION FOUR

*/

.beautiful-advices#bg-color__four {
    background-color: #fff;
}

.beautiful-advices > #section__four {
    margin: 0 264px;
    position: relative;
}

#section__four h1 {
    position: relative;
    font-size: 2rem;
    color: #222;
    width: 50%;
    z-index: 2;
}

#section__four h2 {
    position: absolute;
    font-size: 148px;
    font-weight: bold;
    color: #FFF700;
    text-transform: uppercase;
    opacity: 0.5;
    width: 100%;
    margin: 0;
    z-index: 1;
}

.beautiful-advices > #section__four h2:nth-child(1) {
    left: 0;
}

.beautiful-advices > #section__four h2:nth-child(2) {
    top: 12rem;
}

.beautiful-advices > #section__four h2:nth-child(3) {
    top: 24rem;
}

#section__four p {
    padding: 6rem 0 0 0;
    font-size: 1rem;
    opacity: 0.5;
}

/* 

FOOTER

*/
footer {
    padding: 32px 0;
    text-align: center;
}

footer > a:link {
    text-decoration: none;
}